<md-toolbar md-scroll-shrink class="toolbar-switch">
	<div class="md-toolbar-tools" ng-switch on="active_template">
		<md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
			<md-icon aria-label="Menu" md-svg-icon="navigation:menu"></md-icon>
		</md-button>
		<h1 class="animate-switch" ng-switch-default>
		    {% verbatim %}
		    	{{ active_template.title }}
		    {% endverbatim %}
		</h1>
		<span flex></span>
		<md-button class="md-icon-button">
			<md-icon md-svg-icon="action:search" aria-label="People Icon"></md-icon>
		</md-button>
		<md-button class="md-icon-button">
			<md-icon md-svg-icon="action:view_list" aria-label="List Grid"></md-icon>
		</md-button>
	</div>
</md-toolbar>
<div flex layout="row">
	<md-content>
		<md-tabs md-selected="recipetab" md-dynamic-height md-border-bottom md-swipe-content>
			<md-tab ng-repeat="tab in get_RecipeTypes()" label="{{::tab.name }}" md-on-select="toggleRecipeTab($index)">
				<md-content class="md-padding">
					<md-list>
						<md-list-item class="md-3-line custom-list md-whiteframe-z1 md-default-theme" ng-repeat="recipe in get_Recipes()">
							<img class="recipe-avatar" ng-src="{{::recipe.icon }}" />
							<div class="md-list-item-text">
								<h4>
									{{ recipe.name }}
								</h4>
								<p>
									{{ recipe.description | truncate:200 }}
								</p>
							</div>
						</md-list-item>
					</md-list>
				</md-content>
			</md-tab>
		</md-tabs>
	</md-content>
</div>