<div flex ng-switch on="isReading">
	<div flex class="animate-switch" ng-switch-default>
		<md-toolbar md-scroll-shrink>
			<div class="md-toolbar-tools md-whiteframe-z1">
				<md-button ng-click="toggleSidenav('left')" hide-gt-md class="md-icon-button">
					<md-icon aria-label="Menu" md-svg-icon="navigation:menu"></md-icon>
				</md-button>
				<h1>
				    {% verbatim %}
				    	{{::active_template.title }}
				    {% endverbatim %}
				</h1>
				<span flex></span>
				<md-button class="md-icon-button">
					<md-icon md-svg-icon="action:search" aria-label="People Icon"></md-icon>
				</md-button>
				<md-button class="md-icon-button">
					<md-icon md-svg-icon="action:view_list" aria-label="List Grid"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<div flex layout="column">
			<md-content>
				{% verbatim %}
				<md-tabs class="md-primary" md-stretch-tabs="always" md-dynamic-height md-border-bottom md-selected="recipetab">
					<md-tab ng-repeat="tab in recipe_types" label="{{::tab.name }}" md-on-select="toggleRecipeTab($index)">
						<md-list>
							<md-list-item class="md-padding md-3-line custom-list md-whiteframe-z1 md-default-theme" ng-repeat="recipe in tab.recipes" ng-click="toogleRecipe(recipe)">
								<img class="recipe-avatar" ng-src="{{::recipe.icon }}" />
								<div class="md-list-item-text">
									<h4>
										{{::recipe.name }}
									</h4>
									<p>
										{{::recipe.description | truncate:200 }}	
									</p>
								</div>
							</md-list-item>
						</md-list>
					</md-tab>
				</md-tabs>
				{% endverbatim %}
			</md-content>
		</div>
	</div>
	<div flex class="animate-switch" ng-switch-when="true">
		<md-toolbar md-scroll-shrink>
			<div class="md-toolbar-tools md-whiteframe-z1">
				<md-button ng-click="toogleRecipeView()" class="md-icon-button">
					<md-icon aria-label="Go Back" md-svg-icon="navigation:arrow_back"></md-icon>
				</md-button>
				<h1>
				    {% verbatim %}
				    	{{::viewRecipe.name }}
				    {% endverbatim %}
				</h1>
				<span flex></span>
				<md-button class="md-icon-button">
					<md-icon md-svg-icon="action:search" aria-label="People Icon"></md-icon>
				</md-button>
				<md-button class="md-icon-button">
					<md-icon md-svg-icon="action:favorite_border" aria-label="List Grid"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<div flex layout="column">
			<md-content>
				{% verbatim %}
				<md-tabs class="md-primary md-sticky" md-dynamic-height md-border-bottom md-align-tabs="lef">
					<md-tab label="Summary">
						<md-content class="md-padding-custom">
							<img class="recipe_banner_class" ng-src="{{::viewRecipe.banner }}">
							<p class="md-padding-custom description-container">
								{{::viewRecipe.description }}
							</p>
						</md-content>
					</md-tab>
					<md-tab label="Ingredients">
						<md-content class="md-padding-custom">
							<md-list>
								<!-- <md-subheader class="md-no-sticky">Ingredients</md-subheader> -->
								<md-list-item class="md-3-line custom-list" ng-repeat="item in viewRecipe.recipe_components">
									<img class="recipe-avatar" ng-src="{{::item.ingredient.icon }}" />
									<div class="md-list-item-text">
										<p>{{:: item.quantity + ' ' + item.unit_of_measure.name  + ' ' +  item.ingredient.name }}</p>
									</div>
								</md-list-item>
							</md-list>
						</md-content>
					</md-tab>
					<md-tab label="Steps">
						<md-content class="md-padding-custom">
							<md-list>
								<md-list-item class="md-3-line custom-list" ng-repeat="step in viewRecipe.steps">
									<div class="md-list-item-text">
										<p>{{:: step.sequence + '.   ' + step.instruction  }}</p>
									</div>
								</md-list-item>
							</md-list>
						</md-content>
					</md-tab>
				</md-tabs>
				{% endverbatim %}
			</md-content>
		</div>

	</div>
</div>
