<md-toolbar md-scroll-shrink class="toolbar-switch">
	<div class="md-toolbar-tools" ng-switch on="getActive()">
		<md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
			<md-icon aria-label="Menu" md-svg-icon="navigation:menu"></md-icon>
		</md-button>
		<h1 class="animate-switch" ng-switch-default>
		    {% verbatim %}
		    	{{ active_template.title }}
		    {% endverbatim %}
		</h1>
		<span flex></span>
		<md-button class="md-icon-button">
			<md-icon md-svg-icon="action:search" aria-label="People Icon"></md-icon>
		</md-button>
		<md-button class="md-icon-button">
			<md-icon md-svg-icon="action:view_list" aria-label="List Grid"></md-icon>
		</md-button>
	</div>
</md-toolbar>