<!DOCTYPE html>
{% load staticfiles %}
<html ng-app="app">
<head>
	<meta name="viewport" content="initial-scale=1" />
	<title>CooksToGo</title>
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/angular-material.min.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/styles.css' %}">
</head>
<body layout="row" ng-controller="AppCtrl">
	<!-- SIDEBAR -->
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
    	<md-toolbar class="md-tall" layout="row">
    		<span flex></span>
    		<div layout="column" class="md-toolbar-tools-bottom inset">
				<user-avatar></user-avatar>
				<span flex></span>
			</div>
        </md-toolbar>
        <md-list>
			<md-list-item class="md-2-line" ng-repeat="item in menu" ng-click="count = count + 1" ng-init="count=0">
				<div class="md-list-item-text">
				{% verbatim %}
					{{ item.title }}
				{% endverbatim %}
				</div>
			</md-list-item>
		</md-list>
        <!-- <md-content>
			<md-list>
				<md-list-item ng-repeat="item in menu">
					{% verbatim %}
					<md-button>
						{{ item.title }}
					</md-button>
					{% endverbatim %}
				</md-list-item>
			</md-list>
		</md-content> -->
    </md-sidenav>

    <!-- TOOLBAR and MAIN CONTAINER -->
    <div layout="column" flex>
	    <md-toolbar layout="row">
	      <div class="md-toolbar-tools">
	        <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
	          <md-icon aria-label="Menu" md-svg-icon="navigation:menu"></md-icon>
	        </md-button>
	        <h1>
	        {% verbatim %}
	        	{{ header }}
	        {% endverbatim %}
	        </h1>
	      </div>
		</md-toolbar>
	    <md-content layout="column" flex class="md-padding">
	    	{% verbatim %}
	    		{{count}}
	    	{% endverbatim %}
	    </md-content>
    </div>
	<script src="{% static 'web/js/angular.min.js' %}"></script>
	<script src="{% static 'web/js/angular-animate.min.js' %}"></script>
	<script src="{% static 'web/js/angular-aria.min.js' %}"></script>
	<script src="{% static 'web/js/angular-material.min.js' %}"></script>
	<script src="{% static 'web/js/app.js' %}"></script>
</body>
</html>