<!DOCTYPE html>
{% load staticfiles %}
<html ng-app="app">
<head>
	<meta name="viewport" content="initial-scale=1" />
	<title>CooksToGo</title>
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/angular-material.min.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/styles.css' %}">
</head>
<body layout="row" ng-controller="AppCtrl">
	<!-- SIDEBAR -->
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
    	<md-toolbar class="md-tall" layout="row">
    		<span flex></span>
    		<div layout="column" class="md-toolbar-tools-bottom inset">
				<user-avatar></user-avatar>
				<span flex></span>
			</div>
        </md-toolbar>
        <md-list ng-controller="SideBarCtrl">
        	{% verbatim %}
			<md-list-item layout-align="start center" ng-repeat="menu in menus" class="md-1-line"  ng-click="toogleTemplate($index)">
				<div class="md-list-item-text">
					<md-icon md-svg-icon="{{::menu.icon }}"></md-icon>
					{{::menu.title }}
				</div>
			</md-list-item>
			{% endverbatim %}
		</md-list>
		<md-divider></md-divider>
    </md-sidenav>

    <!-- TOOLBAR and MAIN CONTAINER -->
    <div layout="row" flex>
		<md-content flex>
			<div ng-view class="view-animate"></div>
		</md-content>
    </div>
	<script src="{% static 'web/js/angular.min.js' %}"></script>
	<script src="{% static 'web/js/angular-route.min.js' %}"></script>
	<script src="{% static 'web/js/angular-animate.min.js' %}"></script>
	<script src="{% static 'web/js/angular-aria.min.js' %}"></script>
	<script src="{% static 'web/js/angular-material.min.js' %}"></script>
	<script src="{% static 'web/js/app.js' %}"></script>
</body>
</html>